# I2M2G Environment Configuration

# Simulator Configuration
SIMULATOR_IP=HOST_IP_PLACEHOLDER
SIMULATOR_PORT=8082

# MQTT Configuration
MQTT_SERVER=mqtt
MQTT_PORT=1883
MQTT_USER=
MQTT_PASSWORD=
MQTT_TOPIC_PREFIX=xcel_itron_5/

# Database Configuration
INFLUXDB_INIT_USERNAME=admin
INFLUXDB_INIT_PASSWORD=adminpassword
INFLUXDB_INIT_ORG=myorg
INFLUXDB_INIT_BUCKET=power_usage
INFLUXDB_INIT_ADMIN_TOKEN=super-secret-key

# Grafana Configuration
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

# Logging
LOGLEVEL=INFO 