# =============================================================================
# METER CONFIGURATION
# =============================================================================
METER_PORT=8081
METER_IP=10.28.10.xx
# Certificate and key paths for smart meter authentication
# Leave empty to use default paths in certs/ directory
CERT_PATH=/opt/xcel_itron2mqtt/certs/.cert.pem
KEY_PATH=/opt/xcel_itron2mqtt/certs/.key.pem


# for simulator (host)

SIMULATOR_IP=


# =============================================================================
# MQTT CONFIGURATION
# =============================================================================
MQTT_SERVER=mqtt
MQTT_PORT=1883
MQTT_USER=
MQTT_PASSWORD=
MQTT_TOPIC_PREFIX=1753729492/ 
MQTT_METER_TOPIC_PREFIX=sFDI


# =============================================================================
# TELEGRAPH CONFIGURATION
# - is in the /telegraph/telegraf.conf file 
# - specifies MQTT TOPIC & Data source to listen to (InfluxDB)
# =============================================================================



# =============================================================================
# INFLUXDB CONFIGURATION
# =============================================================================
INFLUXDB_INIT_USERNAME=admin
INFLUXDB_INIT_PASSWORD=adminpassword
INFLUXDB_INIT_ORG=myorg
INFLUXDB_INIT_BUCKET=power_usage2
INFLUXDB_INIT_ADMIN_TOKEN=super-secret-key

# =============================================================================
# GRAFANA CONFIGURATION
# =============================================================================
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin


# Logging (info, debug, warning, error, critical)
LOGLEVEL=DEBUG